@import url("/src/components/font/stylesheet.css");


/* --------------------------------------------------------------- */
/* ------------------ BEST-FRAGANCES swiperjs -------------------- */
/* --------------------------------------------------------------- */

.titulo{
    margin-top: -8%;
    width: 80%;
}

.topfragances{
    background-color: #a69586 !important;
}

.parfum-brand{
    color:#000;
    font-size: 20px;
}

.parfum-title{
    color: #42210b;
    font-size: 13px;
    margin-top: -10%;
    
}
.precio{
    font-size: 15px !important;
}

.imagen{
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
    
}



.imagendiv{
    width: 150px;
    height: 150px;
    object-fit: contain;

}

.compra{
    color: #FF931E
}


.card-body{
    font-family: 'dutch801_xbd_btextra_bold';
    text-size-adjust: z;
}



#best-fragances { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}



.swiper {
  width: 70%;
  height: 100%;
  margin-top: -13%;
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
    color: #000;
    padding-right:30%; 
}

.swiper-button-next {
    color: #000; 
}


/* --------------------------------------------------------------- */
/* ----------------------- PRODUCT-LIST -------------------------- */
/* --------------------------------------------------------------- */



.selects{
    width: 50%;
}

.productlist{
    margin-top: 8%;
    min-height: 100vh;
}



/* --------------------------------------------------------------- */
/* ------------------------- PRODUCT ----------------------------- */
/* --------------------------------------------------------------- */


  .producto{
    width:60%;
    
    height: 45vw;
    padding-top: 10vw;
  }
  .fotodiv{
    height: fit-content;
   
  }
  .foto{
    background-color: #fff;
    width: 80%;
  }
  .marcaproduct{
    font-family: 'dutch801_xbd_btextra_bold';
    font-size: 2vw;
    font-weight: bold;
    color: #42210b;
  }

  .tituloproduct{
    margin-top: -5%;
    font-family: 'dutch801_xbd_btextra_bold';
    font-size: 4vw;
    font-weight: bold;
    color: #000;
    
  }
  .comprar{
    padding-top: 10%;
  }
  .precioproduct{
    font-family: 'dutch801_xbd_btextra_bold';
    font-weight: bold;
    font-size: 2vw;
    color: #000;
  }
  .badgeproduct{
    width: fit-content;
  }
  
  .botoncomprarproduct{
    width: 30%;
  }

  .descripcionproduct{
    color: #000;
  }

  .basket{
    margin-top: 10%
  }

/* --------------------------------------------------------------- */
/* -------------------------- CESTA  ----------------------------- */
/* --------------------------------------------------------------- */

.basket{
    width: 80%;
    min-height: 100vh;

}
.basketimg{
    width: 20%;
}
.btn{
background-color: #fff;}

.basketbrand, .basketproductprice, .totalcheckout, .preciototal, .baskettitulo{
    font-family: 'dutch801_xbd_btextra_bold';
}

.basketcontainer{
    width: 100%;
}

.totalcheckout{
    font-size: 2vw
}

.preciototal{
    font-size: 3vw
}

.link {
    text-decoration: none; 
    color: #fff; 
  }
  
  .link:hover {
    text-decoration: none; 
    color: #666; 
  }

  form, input, label{
    color: white !important;
}
